<!DOCTYPE html>
<html>
<head>
    <title>Ejercicio Formulario html5</title>
</head>
<body>

    <form action="" method="get">
        <p>
            Nombre: <input type="text" name="nombre" autofocus required />
        </p>
        <p>
            Correo electronico: <input type="email" name="correo" required />
        </p>
        <p>
            URL: <input type="url" name="url" placeholder="Escribe la URL de tu página web personal" />
        </p>
        <p>
            Fecha: <input type="date" name="fecha" />
        </p>
        <p>
            Tiempo: <input type="time" name="tiempo" />
        </p>
        <p>
            Fecha y hora: <input type="datetime" name="fechahora" />
        </p>
        <p>
            Mes: <input type="month" name="mes" />
        </p>
        <p>
            Semana: <input type="week" name="semana" />
        </p>
        <p>
            Numero (min -10, max 10): <input type="number" name="numero" min="-10" max="10" value="0" />
        </p>
        <p>
            Telefono: <input type="tel" name="telefono" />
        </p>
        <p>
            Termino de búsqueda: <input type="search" name="busqueda" />
        </p>
        <p>
            Color favorito: <input type="color" name="color" />
        </p>
        <p>
            <input type="submit" value="Enviar" />
        </p>
    </form>
</body>
</html>
