<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Ejercicios con HTML</h1>
        <p>Lista de Ejercicios</p>
        <p>
            <ol>
                <li> <a href="https://localhost:44373/Home/EjercicioCB1">EjercicioCB1</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioCB2">EjercicioCB2</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioCB3">EjercicioCB3</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioCB4">EjercicioCB4</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioEnlaces">EjercicioEnlaces</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioListas">EjercicioListas</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioTablas1">EjercicioTablas1</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioTablas1">EjercicioTablas2</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioFormularios1">EjercicioFormularios1</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioFormularios2">EjercicioFormularios2</a> </li>
                <li> <a href="https://localhost:44373/Home/EjercicioFormularioshtml5">EjercicioFormularioshtml5</a> </li>
            </ol>
        </p>
    </div>
</body>
</html>

