<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CSS</title>
</head>
<body>
    <div>
        <h1>Ejercicios CSS</h1>
        <p>Lista de Ejercicios</p>
        <p>
            <ol>

                <li> <a href="https://localhost:44314/Home/EJ1">Como se usa 1</a> </li>
                <li> <a href="https://localhost:44314/Home/EJ2">Como se usa 2</a> </li>
                <li> <a href="https://localhost:44314/Home/EJ3">Como se usa 3</a> </li>
                <li> <a href="https://localhost:44314/Home/EJ4">Selectores 1</a> </li>
                <li> <a href="https://localhost:44314/Home/EJ5">Selectores 2</a> </li>
                <li> <a href="https://localhost:44314/Home/EJ6">Selectores 3</a> </li>
                <li> <a href="https://localhost:44314/Home/EJ7">Maquetacion DF</a> </li>
                <li> <a href="https://localhost:44314/Home/EJ8">Maquetacion DE</a> </li>

            </ol>
        </p>
    </div>
</body>
</html>

